.header{
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg,#70ddd4 0,#29f1eb);
    margin-bottom: 2rem;
    >div{
        margin: 1rem;
    }
    >div>a{
        text-decoration: none;
        transition: color 0.5s;
    }
    >div>a:hover{
        color: greenyellow;
    }
}
.body{
    margin-top: 2rem;
}